@tailwind base;
@tailwind components;
@tailwind utilities;
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none !important;
}
